<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- spring settings (applicationContext) -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- spring settings (logback) -->
	<!-- <listener> <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class> 
		</listener> <context-param> <param-name>logbackConfigLocation</param-name> 
		<param-value>/WEB-INF/logback.xml</param-value> </context-param> -->

	<!-- The spring mvc dispatcher -->

	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

<!-- 	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>dev</param-value>
	</context-param>
	<context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>dev</param-value>
	</context-param>
	<context-param>
		<param-name>spring.liveBeansView.mbeanDomain</param-name>
		<param-value>dev</param-value>
	</context-param> -->

	<!-- Old mapping (needs to be deleted) -->
	<!-- <servlet> <servlet-name>Home</servlet-name> <servlet-class>com.excilys.cdb.servlets.Home</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>Home</servlet-name> <url-pattern>/home</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>AddComputer</servlet-name> <servlet-class>com.excilys.cdb.servlets.AddComputer</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>AddComputer</servlet-name> <url-pattern>/addComputer</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>EditComputer</servlet-name> <servlet-class>com.excilys.cdb.servlets.EditComputer</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>EditComputer</servlet-name> <url-pattern>/editComputer</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>DeleteComputer</servlet-name> 
		<servlet-class>com.excilys.cdb.servlets.DeleteComputer</servlet-class> </servlet> 
		<servlet-mapping> <servlet-name>DeleteComputer</servlet-name> <url-pattern>/deleteComputer</url-pattern> 
		</servlet-mapping> -->
	<!-- Error redirection -->
	<error-page>
		<error-code>403</error-code>
		<location>/resources/views/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/resources/views/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/resources/views/500.html</location>
	</error-page>


</web-app>