<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

   <context:annotation-config/>
   <context:component-scan base-package = "com.excilys.cdb" />
   
   <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list value-type="org.springframework.core.io.Resource">
				<value>classpath:mysql.properties</value>
			</list>
		</property>
	</bean>
   
   	<!-- HikariCP configuration -->
	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
	
		<property name="poolName" value="springHikariCP" />
		<property name="dataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlDataSource" />
		<property name="serverTimeZone" value="UTC+1" />
		<property name="zeroDateTimeBehavior" value="convertToNull" />
		<property name="useSSL" value="true" />
		<property name="useUnicode" value="true" />
		<property name="characterEncoding" value="UTF-8" />
		<property name="cachePrepStmts" value="true" />
		<property name="maximumPoolSize" value="300" />
		<property name="prepStmtCacheSqlLimit" value="2048" />

		<property name="dataSourceProperties">
			<props>
				<prop key="url">${dataSource.url}</prop>
				<prop key="user">${dataSource.user}</prop>
				<prop key="password">${dataSource.password}</prop>
			</props>
		</property>
	</bean>
	
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
		destroy-method="close">
		<constructor-arg ref="hikariConfig" />
	</bean>

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>